html, body { width: 100%; height: 100%; margin: 0; }
#map1, #map2 { width: 49.5%; height: 100%; }
#map1 { float: left; }
#map2 { float: right; }
.leaflet-control-mapbox-geocoder-form input {font-size: larger;}
